* {
  font-size: 15px;
  font-family: "JetBrains Mono", "Fira Code", "Source Code Pro", "Ubuntu Mono",
    monospace;
}
window#waybar {
  all: unset;
}

.modules-left {
  padding: 5px;
  border-radius: 8px;
  background: rgb(25, 25, 26);
}
.modules-center {
  padding: 7px;
  margin: 10 0 5 0;
  border-radius: 8px;
  background: rgb(25, 25, 26);
}
.modules-right {
  padding: 7px;
  margin: 10 10 5 0;
  border-radius: 10px;
  background: rgb(25, 25, 26);
}
tooltip {
  background: rgb(25, 25, 26);
  color: rgb(255, 255, 255);
}
#clock:hover,
#custom-pacman:hover,
#cpu:hover,
#memory:hover {
  transition: all 0.3s ease;
  color: rgb(199, 199, 199);
}

#clock {
  padding: 0px 7px;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  font-size: 15px;
}
#custom-pacman {
  padding: 0px 7px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
}
#cpu,
#memory {
  padding: 0px 7px;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
}
#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgb(63, 63, 63);
}
#tray {
  padding: 0px 7px;
  transition: all 0.3s ease;
}
#tray menu * {
  padding: 0px 7px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 7px;
  transition: all 0.3s ease;
}
